:root {
    --logo-orange: #F24607;
    --dark-orange: #BF3706;
    --ligth-orange: #F29F80;
    --soft-orange: #FFE9D4;
    --background-grey: #F2F2F2;
    --grey: #808080;
     --off-white: #FAF8F7;
    --white: #ffffff;
    --off-white: #FAF8F7;
    --some-blak: #0d0d0d;
    --warm-black: #201E1C;
    --black: #282623;
    --button-orange: #F7975C;
    
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 300px;
    text-align: center;
    background: linear-gradient(180.0deg, var(--warm-black) 1.69%, var(--logo-orange)100%) ;
}

header img {
    position: relative;
    width: 160px;
    margin: 0 auto;
    top: 10px;
}

.header-title--container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 288px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header-title--container h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--white);
}
.header-title--container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    margin-top: 20px;
    color: var(--ligth-orange);
}
.header-title--container .header--button {
    position: absolute;
    top: 283px;
    left: calc(50% - 111px);
    display: inline-block;
    width: 229px;
    height: 48px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(89, 73, 30, 0.16);
    background-color: var(--off-white);
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.header--button:hover {
    background-color: var(--grey);
}
.header--button span {
    display: inline-block;
    background-image: url(./Assets/icons/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 8px;
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}
.main-info-container {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}
.info-title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 250px;
}
.main-info-container .backgroundImg {
    position: absolute;
    width: 200px;
    height: 260px;
    left: calc(50% - 96px);
    background-image: url(./Assets/images/person-holding-black-vinyl.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(7px 5px 5px#585858);
}
.info-title-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: black;
}
.info-title-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.newreleases {
    font-size: 2rem;
    font-weight: bold;
    color: var(--warm-black);
}
.newReleases-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 350px;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: var(--off-white);
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}


.newReleases-container article {
    width: 70%;
    scroll-snap-align: center;
    min-width: 180px;
    max-width: 220px;
    height: 288px;
    padding-top: 20px;
    margin: 10px 15px;
    border-radius: 5px;
    box-shadow: 6px 2px 8px var(--grey);
}
.newReleases-container img {
    position: relative;
    width: 160px;
    height: 160px;
}

.newReleases-container .album-name {
    font-size: 1.4rem;
    line-height: 2.8rem;
}

.newReleases-container .price-paragraph {
    font-size: 1.2rem;
    font-weight: 500;
}
.newReleases-container .article-price {
    font-size: 1.4rem;
    font-weight: 700;
    color: red;
}
.newReleases-container .cart-button {
    width: 125px;
    height: 25px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px auto;
    padding: 2px 15px;
    background-color: var(--button-orange);
    border: none;
    border-radius: 25px;
    cursor: pointer;

}

.newReleases-container .cart-button span {

    width: 20px;
    height: 20px;
    margin-left: 6px;
    position: absolute;
    left: 80px;
    background-image: url(./Assets/icons/icons8-shopping-cart-32.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.cart-button:hover {
    background-color: #fd7623e0;
}


.main-product-details {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 70px 10px;
    padding-bottom: 35px;
    background-color: var(--warm-black);
}
.product-detail--mrod-logo {
    position: absolute;
    width: 60px;
    height: 45px;
    background-image: url(./Assets/images/MRODLOGO.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -25px;
    left: calc(50% - 20px);
    filter: drop-shadow(1px 1px 1px var(--grey));
}
.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    text-align: center;

}
.product-detail--title h2 {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-bottom: 20px;
    color: white;
}
.product-detail--title p {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: var(--grey);
}
.product--card-container {
    position: relative;
    width: 100%;
    min-width: 288px;
    height: auto;
}
.product-detail--card {
    position: relative;
    display: block;
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 152px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px;
    background-color: var(--black);
    box-shadow: 0px 4px 8px 0px #000000;
    border-radius: 10px;
}
.product-detail--card .icon-card {
    position: absolute;
    width: 26px;
    height: 26px;
    /* left: calc(50% - 10px); */
    left: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.dj-icon {
    background-image: url(./Assets/icons/icons8-dj-24.png);
}
.loudspeaker-icon {
    background-image: url(./Assets/icons/icons8-loudspeaker-24.png);
}
.record-icon {
    background-image: url(./Assets/icons/icons8-music-record-24.png);
}
.audio-wave-icon {
    background-image: url(./Assets/icons/icons8-audio-wave2-24.png);
}

.product--card-title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.8rem;
    margin-top: 30px;
    margin-left: 6px;
    color: white;
}
.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 10px;
    margin-left: 6px;
    color: var(--grey);
}

.feel-the-music--img-container {
    width: 100%;
    min-width: 320px;
    height: 80vh;
    background-image: url(./Assets/images/modern-young-headphones.jpg);
    background-position: calc(50% - 60px);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
}

.feel-the-music--img-container h2 {
    padding-top: 60px;
    text-align: center;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--white);
}