:root {
    --logo-orange: #F24607;
    --dark-orange: #BF3706;
    --ligth-orange: #F29F80;
    --soft-orange: #FFE9D4;
    --background-grey: #F2F2F2;
    --grey: #BABABA;
     --off-white: #FAF8F7;
    --white: #ffffff;
    --off-white: #FAF8F7;
    --some-blak: #0d0d0d;
    --warm-black: #201E1C;
    --black: #282623;
    
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;   
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 300px;
    text-align: center;
    background: linear-gradient(180.0deg, var(--warm-black) 1.69%, var(--logo-orange)100%) ;
}

header img {
    position: relative;
    width: 160px;
    margin: 0 auto;
    top: 10px;
}

.header-title--container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 288px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header-title--container h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--white);
}
.header-title--container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    margin-top: 20px;
    color: var(--ligth-orange);
}
.header-title--container .header--button {
    position: absolute;
    top: 283px;
    left: calc(50% - 111px);
    display: inline-block;
    width: 229px;
    height: 48px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(89, 73, 30, 0.16);
    background-color: var(--off-white);
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.header--button:hover {
    background-color: var(--grey);
}
.header--button span {
    display: inline-block;
    background-image: url(./Assets/icons/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 8px;
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}
.main-info-container {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}
.info-title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 250px;
}
.main-info-container .backgroundImg {
    position: absolute;
    width: 200px;
    height: 260px;
    left: calc(50% - 96px);
    background-image: url(./Assets/images/person-holding-black-vinyl.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(7px 5px 5px#585858);
}
.info-title-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: black;
}
.info-title-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}